{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>About</h1>
    </div>
        <div>
            <table>
                <tr><td><h4>Guangjin Zhang</h4></td><td style="text-align: right">2136849z@student.gla.ac.uk</td></tr>
                <tr><td><h4>Guiyan Fu</h4></td><td style="text-align: right">2149265f@student.gla.ac.uk</td></tr>
                <tr><td><h4>Dongjia Li</h4></td><td  style="text-align: right">2153967l@student.gla.ac.uk</td></tr>
                <tr><td><h4>Sophie Norman</h4></td><td  style="text-align: right">s.norman.1@research.gla.ac.uk</td></tr>
            </table>

        </div>
{% endblock %}