{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Index{% endblock %}
{% block body_block %}
{% if user.is_authenticated %}
    <div class="page-header">
                <h1>Hello {{ user.username }}!</h1>
    </div>
            {% else %}
    <div class="page-header">
                <h1>Welcome to MY Street!</h1>
    </div>
            {% endif %}


    <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Top Five</h3>
                    </div>
                </div>

              {% if streets %}
                    <ul class="list-group">
                        {% for street in streets %}
                         <li class="list-group-item"><a href="{% url 'street'  street.slug %}">{{ street.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no streets present.</strong>
                {% endif %}
            </div>

            <div class="col-xs-12 col-sm-6 placeholder">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bottom Five</h3>
                    </div>
                </div>

                {% if streets2 %}
                    <ul class="list-group">
                        {% for street in streets2 %}
                         <li class="list-group-item"><a href="{% url 'street'  street.slug %}">{{ street.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no streets present.</strong>
                {% endif %}
            </div>

          </div>
{% endblock %}